input.content {
    min-height: 0 !important;
    padding: 6px 12px !important;
    margin: 0 !important;
}

.box-show {
    border-radius: 0 !important;
    box-shadow: none !important;
}

a.editable-empty {
    color: #3c8dbc;
    border-bottom: none !important;
}

@media print
{
  page {
    size: landscape;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
  }

  a[href]:after {
    content: none;
    display: none !important;
    visibility: hidden !important;
  }

  .no-print, .no-print *
  {
    display: none !important;
  }
  
  .box-header, .box-footer, .main-footer {
	  display: none !important;
  }
  
  .box {
	  border: none !important;
  }
  
  .content {
	  margin: -15px !important;
  }
}